@model IEnumerable<Library.Models.Klient>

@{
    ViewData["Title"] = "Lista klientów";
}

<h1>Klienci</h1>

<p>
    <a asp-action="Create">Utwórz nowego klienta</a>
</p>
@using(Html.BeginForm("Index", "FindClients", FormMethod.Post)) {
    <input type="text" name="data" id="data" />
    <input type="submit" value="Szukaj" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameConcatenation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresZamieszkania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerTelefonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameConcatenation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresZamieszkania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumerTelefonu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDate)
                </td>
                <td>
                    <a asp-action="RentIndex" asp-route-id="@item.Id">Wypożyczenia</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
