@model Library.Models.RentModel

@{
    ViewData["Title"] = "Zwrot książki";
}

<h1>Przyjmowanie zwrotu książki</h1>

<h3>Zaakceptować zwrot?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tytuł)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tytuł)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imię_Autora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imię_Autora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko_Autora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko_Autora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imię_Klienta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imię_Klienta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko_Klienta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko_Klienta)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorNameConcatenation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorNameConcatenation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNameConcatenation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNameConcatenation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortRentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortRentDate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_zwrotu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_zwrotu)
        </dd>
    </dl>*@
    
    <form asp-action="Return">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Zatwierdź zwrot" class="btn btn-danger" /> |
        <a asp-action="RentIndex" asp-route-id="Idklient">Powrót do listy</a>
    </form>
</div>
