@model IEnumerable<Library.Models.FindBook>

@{
    ViewData["Title"] = "Lista książek";
}

<h1>Lista książek</h1>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
@using(Html.BeginForm("Index", "FindBooks", FormMethod.Post)) {
    <input type="text" name="data" id="data" />
    <input type="submit" value="Szukaj" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytuł)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameConcatenation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa_Gatunku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dostępność)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okładka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytuł)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameConcatenation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa_Gatunku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dostępność)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Okładka)
                </td>
                <td>
                    @if(item.Dostępność > 0) {
                        <a asp-action="Lend" asp-route-id="@item.ID">Wypożycz</a> @:|
                    }
                    <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
