@model Library.Models.LendModel

@{
    ViewData["Title"] = "Nowe wypożyczenie";
}

<h1>Nowe wypożyczenie</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Tytuł)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Tytuł)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Imię_Autora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Imię_Autora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Nazwisko_Autora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Nazwisko_Autora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Nazwa_Gatunku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Nazwa_Gatunku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Stan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Stan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Dostępność)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Dostępność)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Okładka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Okładka)
        </dd>
        @using(Html.BeginForm("Lend", "FindBooks", FormMethod.Post)) {
                    <dt class="col-sm-2">
                        Klient:
                    </dt>
                    <dd>
                        @Html.DropDownListFor(m => m.klient.Id, Model.clientList, new { @class = "form-control" })
                    </dd>
                    <input type="hidden" asp-for="book.ID" />
                    <input type="submit" value="Wypożycz" class="btn btn-danger" /> @:|
                    <a asp-action="Index">Powrót do listy</a>
            }
    </dl>
</div>